{% extends 'base.html' %}
{% block title %}Books Update{% endblock %}

{% block content %}
	<div class="book-detail">
		{% if book.cover %}
			<img class="bookcover" src="{{ book.cover.url }}" alt="{{ book.title }}">
		{% endif %}
		
		<h2>{{ book.title }}</h2>
		<p>Author: {{ book.author }}</p>
		<p>Price: {{ book.price }}</p>
		<p>{{ book.review }}</p>
		<div>
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button class="btn btn-success" type="submit">Submit</button>
			</form>
		</div>
	</div>
{% endblock %}